html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
:root {
  --beige: #faf7f0;
  --white: #ffffff;
  --black1: #151515;
  --black2: #000000;
  --greyWarm: #3f3f3f;
  --greyGold: rgba(21, 21, 21, 0.4);
  --darkBlue: #171044;
  --red: #9a1a1a;
  --blue: #0c21c1;
  /*fonts*/
  --main-font: "Poppins", sans-serif;
  --secondary-font: "Inter Tight", sans-serif;
}
ul,
ol {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}
input {
  border: none;
  outline: none;
  background: none;
  padding: 0;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  margin: 0;
}
button {
  padding: 0;
  border: none;
  background-color: inherit;
}
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--beige);
  margin: 0;
}
h1,
h2 {
  text-transform: uppercase;
}
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
button,
textarea,
select {
  font: inherit;
}
button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}
input[type="email"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}
path {
  fill: inherit;
  stroke: inherit;
}
.container {
  margin: 0 auto;
  padding: 0 clamp(24px, 4px + 4vw, 105px);
  margin-bottom: clamp(100px, 84px + 4vw, 160px);
}
.hidden {
  display: none;
}
.main-button {
  font-weight: 500;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
  border-radius: 100px;
  border: 1px solid var(--black1);
  padding: 12px 24px;
  background: var(--black1);
  color: var(--white);
}
.main-button:hover {
  border: 5px solid #777;
  background: #282828;
}
.main-button:active {
  border: 5px solid #777;
  background: #0a091f;
}
.main-button:focus {
  border: 5px solid #777;
  background: var(--black1);
}
.main-button:disabled {
  border: 1px solid rgba(21, 21, 21, 0.3);
  background: rgba(21, 21, 21, 0.3);
}

.second-button {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: left;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 24px;
  border: 1px solid var(--white);
  padding: 12px 24px;
  color: var(--white);
}

.second-button:hover {
  border: 5px solid var(--white);
}
.second-button:active {
  border: 5px solid #ffa400;
  background: #eee;
  color: var(--black1);
}
.second-button:focus {
  border: 5px solid #ffa400;
  background: #fdfdfd;
  color: var(--black1);
}
.second-button:disabled {
  border: 5px solid rgba(21, 21, 21, 0.3);
  color: rgba(21, 21, 21, 0.3);
}

/* Header section */
.header {
  position: relative;
}
.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--black1);
}
.header__container {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.header__wrap {
  min-height: 99px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.menu__close {
  display: none;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s ease;
}
.menu__close.menu__open {
  display: block;
}
.menu__btn {
  width: 43px;
  height: 43px;
  position: relative;
}
.menu__btn span {
  position: absolute;
  background-color: var(--black1);
  height: 2px;
  width: 30px;
  left: 6px;
}
.menu__btn span:nth-child(1) {
  transform: translateY(-10px);
}
.menu__btn span:nth-child(3) {
  transform: translateY(10px);
}

.burger-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 10;
}

.burger-icon:before,
.burger-icon:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.burger-icon:before {
  transform: rotate(45deg);
}

.burger-icon:after {
  transform: rotate(-45deg);
}
.header.open .menu__list {
  transform: translateX(100%);
}

.menu__list {
  transform: translateY(-100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 80px 80px;

  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  width: 320px;
  margin: 0 auto;
  background-color: white;
  transition: transform 1s ease;
}
.menu__list.menu__list-open {
  transform: translateY(0);
}
.menu__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.menu__btn-main {
  position: absolute;
  top: 15px;
  left: 80px;
}
.menu__item {
  gap: 10px;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.44px;
  text-transform: uppercase;
}
.header-social {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}
.icon {
  fill: var(--black1);
}
.icon:hover {
  fill: #fbaa19;
}

/* Hero section */
.hero__container {
  background-image: linear-gradient(
      0deg,
      rgba(36, 36, 36, 0.4) 0%,
      rgba(36, 36, 36, 0.4) 100%
    ),
    url("../images/main1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  position: relative;
  margin-bottom: clamp(100px, 84px + 4vw, 160px);
  padding: 0;
}

.hero__inner {
  width: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(36, 36, 36, 0.4) 0%,
      rgba(36, 36, 36, 0.4) 100%
    ),
    url("../images/main2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 78px 144px;
  justify-content: center;
  align-items: center;
}
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 242px;
}
.hero__title {
  color: var(--white);
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-align: center;
}
.hero__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__btn-main {
  display: none;
}
.hero__btn-second {
  background-color: transparent;
}

/* About section */
.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.about__title {
  font-family: var(--secondary-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.16em;
  text-align: center;
  color: var(--gray-warm, #3f3f3f);
  text-align: center;
  margin-bottom: 40px;
}
.about__content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.about__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-bottom: 30px;
}
.about__card {
  display: none;
  height: auto;
  padding-top: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  border-top: 1px solid var(--greyGold, rgba(21, 21, 21, 0.4));
}
.about__card:first-child {
  display: flex;
}
.frame {
  display: flex;
  align-items: flex-start;
  gap: 3px;
}
.frame__number {
  display: flex;
  align-items: flex-start;
  gap: 1px;
  color: var(--greyGold, rgba(21, 21, 21, 0.4));
  font-family: var(--secondary-font);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  line-height: 1.2;
  letter-spacing: 0em;
}
.about__content-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.about__content-title {
  font-family: var(--secondary-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 3.2px;
  color: var(--greyWarm);
}
.about__content-text {
  color: var(--greyWarm);
  font-size: clamp(18px, 17px + 0.26vw, 22px);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: left;
}
.about__btn {
  font-family: var(--secondary-font);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  color: var(--greyWarm);
  text-decoration: underline;
}
.about__slider-container {
  max-width: 100%;
}
.about__slider {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}
.about__slider-line {
  display: flex;
  border-radius: 20px;
  transition: all ease 1s;
  min-height: 356px;
}
.about__slider-img {
  border: 1px solid var(--black1);
  border-radius: 20px;
}

.about__slider-btn {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
}
.about__slider-left,
.about__slider-right {
  padding: 0;
  border: 1.5px solid var(--greyGold);
  border-radius: 50%;

  width: 42px;
  height: 42px;
  background: linear-gradient(
      0deg,
      rgba(21, 21, 21, 0.4),
      rgba(21, 21, 21, 0.4)
    ),
    linear-gradient(0deg, rgba(243, 243, 243, 0.2), rgba(243, 243, 243, 0.2));

  color: var(--black1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__slider-left:hover,
.about__slider-left:focus,
.about__slider-right:hover,
.about__slider-right:focus {
  fill: #fbaa19;
  border: 2px solid #fbaa19;
}
.about__slider-icon {
  width: 16px;
  height: 16px;
}

/* Suites section */
.suites__container {
}
.suites__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.suites__wrap-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.suites__title {
  font-family: var(--secondary-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: var(--greyWarm);
  text-align: center;
}
.suites__text {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  color: var(--black2);
}
.suites__frame {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 8px;
}

.suites__card {
  flex-basis: 100%;

  min-width: 343px;
  display: flex;
  gap: 37px;
  width: 100%;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  border: 1px solid var(--black1);
  position: relative;
}

.suites__header {
  display: flex;
  flex-direction: column;
  padding: 0 62px;
  gap: 37px;
}
.suites__tariff-header {
  color: var(--black2);
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
}
.suite__text-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.suites__text-item {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0em;
  text-align: center;
  color: var(--grayWarm);
}
.suites__tariff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.suites__tariff-text {
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: left;
  text-transform: uppercase;
  color: var(--black1);
}

.suites__tariff-btn {
  padding: 11px 64px;
}

.suite__text-info--bulleted {
  text-align: center;
}

.suite__text-info .suites__text-item::before,
.suite__text-info-desktop .suites__text-item::before {
  content: "•";
  margin-right: 5px;
}

/* Contacts section */
.contacts__container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.contacts__title-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 0 24px;
}
.contacts__title {
  font-family: var(--secondary-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.16em;
  text-align: center;

  color: var(--greyWarm);
}
.contacts__title-text {
  color: var(--black2);

  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
}

.contacts__content-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 84px;
}

.contacts__wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  justify-content: center;
}

.contacts__wrap-email {
  padding: 0 34px;
}

.contacts__content-title {
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.02em;

  color: var(--grayWarm);
}
.contacts__content-text {
  color: var(--black2);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0em;
  text-align: center;
}
.contacts__content-email {
  word-wrap: break-word;
}

/* Subscrube section */
.subscribe__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 40px;
}

.subscribe__title {
  font-family: var(--secondary-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.16em;
  text-align: center;
  color: var(--greyWarm);
}
.subscribe__wrap {
  display: flex;
  flex-direction: column;
  gap: 47px;
  padding: 40px;
  border-radius: 20px;
  border: 1px solid var(--black1);
}

.subscribe__content {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: center;
}

.subscribe__info {
  color: var(--greyWarm);
}
.subscribe__email {
  color: var(--black2);
}
.subscribe__social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.subscribe__message {
  color: var(--greyWarm);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
}
.subscribe__social-wrap {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}
.icon {
  fill: var(--black1);
  width: 27px;
  height: 27px;
}
.icon:hover {
  fill: #fbaa19;
}

/* Footer */
footer {
  border-radius: 20px 20px 0px 0px;
  border: 1px solid var(--black1);
  background: var(--black1);
}
.footer__container {
  padding: 40px;
}
.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.footer__logo {
  fill: var(--white);
}

.footer__subscribe {
  display: none;
}

.footer__list {
  display: flex;
  height: 36px;
  align-items: flex-start;
  gap: 20px;
  padding: 4px 0;
}

.footer__message {
  display: flex;
  width: 158px;
  align-items: center;
  gap: 48px;
  white-space: nowrap;
  flex-shrink: 0;
  color: var(--white);

  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: left;
}

.footer__icon {
  width: 24px;
  height: 24px;
  fill: var(--white);
  stroke: var(--black2);
}
.footer__icon:hover,
.footer__icon:focus {
  fill: #fbaa19;
}

.footer__rights-list {
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
}

/* Registration & Login */
.registration-container,
.login-container {
  margin: clamp(40px, 8px + 8vw, 160px) auto;
}
.registration-content,
.login-content {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 0 26px;
}
.registration__page-path,
.login__page-path {
  font-size: 14px;
  font-family: var(--secondary-font);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--greyGold);
}
.registration__page-path-home,
.login__page-path-home {
  transform: rotate(-0.141deg);
  margin-right: 16px;
}
.registration__page-path-home:hover,
.registration__page-path-home:focus,
.login__page-path-home:hover,
.login__page-path-home:focus {
  color: var(--black1);
}
.login__page-path-login,
.registration__page-path-registration {
  transform: rotate(-0.141deg);
}
.registration__page-path-registration.activ,
.login__page-path-login.activ {
  color: var(--black1);
}

.registration__form,
.login__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.registration__text,
.login__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  font-weight: 600;
}
.registration__title,
.login__title {
  font-size: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.registration__login-link,
.login__login-link {
  color: #0c21c1;
  cursor: pointer;
}
.registration__login-link :hover,
.registration__login-link :focus {
  border-bottom: 1px solid #0c21c1;
}
.form__row-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.form__row-gap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.form-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
}
.form__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  color: var(--greyGold);
  width: 100%;
  font-size: 13px;
  font-weight: 500;
}
.form-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 12px;
}
.form-input {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--black2);
}
.form-input-padlock {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}
.form-input.error {
  border-bottom: 1px solid var(--red);
}
.form-input-invisible {
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.form-control {
  width: 100%;
  color: var(--darkblue);
  font-size: 16px;
  font-weight: 400;
}

.form-control::-moz-placeholder {
  color: var(--darkBlue);
}

.form-control:-ms-input-placeholder {
  color: var(--darkBlue);
}

.form-control::placeholder {
  color: var(--darkBlue);
}
.icon-warning {
  width: 16px;
  height: 16px;
}

.form-invisible {
  display: flex;
  position: relative;
}

.hide {
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1598_38)'%3E%3Cpath d='M6.89331 4.78103L8.8974 6.78512L8.90694 6.68014C8.90694 5.62719 8.05124 4.77148 6.99829 4.77148L6.89331 4.78103Z' fill='%23151515' fill-opacity='0.4'/%3E%3Cpath d='M6.99843 3.50069C8.75439 3.50069 10.1795 4.92583 10.1795 6.6818C10.1795 7.09216 10.0968 7.48343 9.95369 7.84289L11.8146 9.70383C12.7753 8.90219 13.5324 7.86517 14 6.6818C12.8962 3.88881 10.1827 1.91016 6.99846 1.91016C6.10774 1.91016 5.25523 2.0692 4.46313 2.3555L5.83737 3.72654C6.19679 3.58658 6.58807 3.50069 6.99843 3.50069Z' fill='%23151515' fill-opacity='0.4'/%3E%3Cpath d='M0.636209 1.76626L2.08679 3.21684L2.37628 3.50633C1.32652 4.32705 0.496251 5.41817 0 6.68105C1.10067 9.47404 3.81731 11.4527 6.99842 11.4527C7.98457 11.4527 8.92616 11.2618 9.78825 10.9151L10.0587 11.1855L11.9132 13.0432L12.7244 12.2352L1.44739 0.955078L0.636209 1.76626ZM4.15452 5.28138L5.13748 6.26434C5.10885 6.40113 5.08976 6.5379 5.08976 6.68105C5.08976 7.734 5.94547 8.58971 6.99842 8.58971C7.14157 8.58971 7.27837 8.57062 7.41197 8.54199L8.39493 9.52495C7.97183 9.7349 7.50105 9.86215 6.99842 9.86215C5.24245 9.86215 3.81731 8.43701 3.81731 6.68105C3.81731 6.17845 3.94457 5.70763 4.15452 5.28138Z' fill='%23151515' fill-opacity='0.4'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1598_38'%3E%3Crect width='14' height='14' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.hide.show {
  background: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 7.57143C5.59427 7.57143 4.45455 6.42071 4.45455 5C4.45455 3.57929 5.59427 2.42857 7 2.42857C8.40573 2.42857 9.54545 3.57929 9.54545 5C9.54545 6.42071 8.40573 7.57143 7 7.57143ZM7 0.5C2.95782 0.5 0 5 0 5C0 5 2.95782 9.5 7 9.5C11.0422 9.5 14 5 14 5C14 5 11.0422 0.5 7 0.5ZM7 3.71429C6.29745 3.71429 5.72727 4.28964 5.72727 5C5.72727 5.71036 6.29745 6.28571 7 6.28571C7.70255 6.28571 8.27273 5.71036 8.27273 5C8.27273 4.28964 7.70255 3.71429 7 3.71429Z' fill='%239B9B9B'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
}
.error-message {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  color: var(--red);
}
.registration__button,
.login__button {
  width: 100%;
  margin-bottom: 40px;
  margin-top: 40px;
}

.form__text-wrap {
  display: flex;
  width: 100%;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--black2);
}

.form__text-wrap.error {
  border-bottom: 1px solid var(--red);
}

.form__text {
  display: flex;
  align-items: center;
  gap: 12px;
}

.form__icon {
  width: 17px;
  height: 17px;
  flex-shrink: 0;
  vertical-align: middle;
  margin-right: 12px;
}
.form__icon-password {
  fill: #151515;
  fill-opacity: 0.4;
  flex-shrink: 0;
}
.registration__login-link:hover {
  text-decoration: underline;
}
.registration__login-link:focus {
  outline: none;
}
.registration__page-path-registration.activ {
  color: var(--black1);
}

.success-frame {
  border-radius: 20px;
  border: 1px solid var(--black1);
  padding: 80px 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 40px;
  font-weight: 600;
  letter-spacing: 0em;
}

.success-title {
  font-size: 24px;
}

.success-message {
  font-size: 16px;
}

/* Login */

.form__remember {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: flex-start;
}
.form__remember-link {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  color: var(--grayWarm);
}
.form__remember-link:hover {
  color: #0c21c1;
  text-decoration: underline;
}

.form__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.form__checkbox-styled {
  width: 15px;
  height: 15px;
  border-radius: 4px;
  border: 1px solid var(--black2);
  background: var(--white);
}

.form__checkbox-content {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  color: var(--gray-warm, #3f3f3f);
}

.login-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.login-social-message {
  color: var(--greyGold);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.login-social-wrap {
  display: flex;
  height: 43px;
}
.login-social-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 43px;
}
.login-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-social__link {
  display: block;
}

.login__icon {
  width: 41px;
  height: 41px;
  display: flex;
  align-items: center;
}

.login__icon.login-google:hover,
.login__icon.login-google:focus {
  border: 3px solid orange;
  border-radius: 50%;
}
.login__icon.login-apple {
  fill: #283544;
}
.login__icon.login-apple:hover,
.login__icon.login-apple:focus {
  border: 3px solid orange;
  border-radius: 50%;
}
.login__icon.facebook {
  fill: #0163e0;
}
.login__icon.facebook:hover,
.login__icon.facebook:focus {
  border: 3px solid orange;
  border-radius: 50%;
}

@media screen and (min-width: 834px) {
  .header__container {
    padding-right: 44px;
    padding-left: 44px;
  }
  .header__wrap {
    min-height: 85px;
  }

  .header__logo svg {
    height: 100%;
    width: 170px;
  }

  .menu__buttons {
    display: flex;
    gap: 32px;
  }
  .menu__reserve.hidden {
    display: flex;
  }
  .hero__container {
    min-height: 462px;
  }

  .hero__inner {
    width: 60%;
    min-height: 291px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 39px 50px;
  }
  .hero__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05em;
    text-align: center;
  }
  .hero__wrap {
    gap: 16px;
  }

  .about__title {
    font-size: 18px;
    margin-bottom: 60px;
  }
  .about__content {
    margin-bottom: 60px;
  }
  .about__list {
    gap: 60px;
    flex-direction: column;
  }

  .about__card:nth-child(-n + 2) {
    display: flex;
  }
  .about__content-wrap {
    padding-right: 40px;
  }
  .about__slider-line {
    margin-bottom: 24px;
    min-height: 419px;
  }
  .about__slider-btn {
    position: static;
    transform: none;
    gap: 10px;
    padding: 0px;
  }

  .about__slider-left,
  .about__slider-right {
    background: none;
    background-color: transparent;
  }
  .suites {
    margin-bottom: 120px;
  }
  .suites__wrap-title {
    gap: 40px;
  }
  .suites__wrap {
    gap: 40px;
  }
  .suites__title {
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: 0.16em;
  }
  .contacts {
    margin-bottom: 120px;
  }
  .contacts__title-wrap {
    padding: 0 36px;
  }
  .contacts__title-text {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0em;
  }
  .contacts__content-list {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
    gap: 49px;
    min-height: 97px;
  }

  .contacts__wrap {
    height: 100%;
    justify-content: space-between;
  }
  .contacts__wrap-email {
    padding: 0;
    max-width: 120px;
  }
  .contacts__content-title {
    text-align: left;
  }
  .contacts__content-text {
    text-align: left;
  }

  .subscribe__title {
    font-size: 18px;
    line-height: 1.1;
  }
  .subscribe__inner {
    padding: 0 146px;
  }
  .subscribe__wrap {
    padding: 60px;
  }
  .footer__subscribe {
    display: flex;
    width: 355px;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .footer__rights-list {
    flex-direction: row;
    justify-content: space-between;
    gap: 176px;
    width: 100%;
  }
  .footer__container {
    padding: 24px 42px;
  }
  .registration-content,
  .login-content {
    padding: 0 43px;
    gap: 80px;
  }
  .registration__form,
  .login__form {
    padding: 0 158px;
  }
  .registration__title,
  .login__title {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0em;
  }
  .success-frame {
    margin: 0 158px;
    padding: 80px 55px;
  }
}
@media (min-width: 834px) and (max-width: 1919px) {
  .suites__frame {
    border-radius: 20px;
    border: 1px solid var(--black1);
    padding: 40px;
    gap: 0;
  }
  .suites__card {
    flex-basis: 100%;
    flex-direction: row;
    padding: 0;
    margin-bottom: 60px;
    border: none;
    gap: 8px;
  }
  .suites__header-tablet.hidden {
    display: flex;
    gap: 8px;
    flex-direction: column;
    min-width: 196px;
  }
  .suites__tariff-header {
    text-align: left;
    color: var(--greyWarm);
  }
  .suites__card:last-child {
    margin-bottom: 0;
  }
  .suites__tariff-header {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0.02em;
  }
  .suites__header {
    display: none;
  }
  .suites__tariff-text {
    display: none;
  }
  .suites__tariff-btn {
    padding: 12px 24px;
  }
}

@media screen and (min-width: 1920px) {
  .main-button,
  .second-button {
    font-size: 22px;
    font-weight: 600;
    line-height: 1;
    border-radius: 100px;
  }

  .header__container {
    padding-left: 102px;
    padding-right: 102px;
  }
  .header__wrap {
    min-height: 233px;
    justify-content: center;
    gap: 0 195px;
  }
  .header__logo svg {
    width: 255px;
  }
  .menu__buttons {
    display: none;
  }
  .menu__list-burger-btn {
    display: none;
  }
  .menu__list {
    position: relative;
    left: auto;
    transform: none;
    width: auto;
    margin: 0;
    background-color: transparent;
    border: none;
    padding: 0;

    flex-direction: row;
    gap: 195px;
  }
  .menu__nav {
    flex-direction: row;
    gap: 30px;
  }
  .menu__link {
    font-weight: 600;
    font-size: 22px;
  }
  .header-social {
    height: 36px;
  }
  .header-social.hidden {
    display: flex;
    align-items: flex-start;
    gap: 0 20px;
  }
  .icon {
    width: 36px;
    height: 36px;
  }
  .hero__container {
    min-height: 1064px;
  }
  .hero__inner {
    min-height: 700px;
    padding: 229px 34px 217px 34px;
  }
  .hero__btn {
    gap: 20px;
  }
  .hero__btn-main {
    display: flex;
    padding: 24px 108px;
  }
  .hero__btn-second {
    padding: 24px 77px;
  }
  .hero__wrap {
    gap: 30px;
  }
  .hero__title {
    font-size: 100px;
    line-height: 1.2;
  }
  .about {
    margin-bottom: 160px;
  }
  .about__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 0;
  }
  .about__title-text {
    display: flex;
    font-family: var(--main-font);
    font-size: 38px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--black2);
  }
  .about__container {
    padding-left: 105px;
    padding-right: 105px;
  }
  .about__description {
    margin-bottom: 100px;
  }
  .about__list {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 156px;
    margin-bottom: 50px;
  }
  .about__card {
    display: flex;
    flex-basis: calc(100% / 2 - 40px);
    min-width: 343px;
  }
  .about__btn {
    display: none;
  }

  .about__content-wrap {
    padding-right: 0;
  }
  .about__slider-container {
    padding: 0 159px;
  }
  .about__slider {
    margin-bottom: 100px;
  }
  .about__slider-line {
    margin-bottom: 40px;
    min-height: 778px;
  }
  .about__slider-btn {
    gap: 20px;
  }
  .about__slider-left,
  .about__slider-right {
    width: 84px;
    height: 84px;
  }
  .about__slider-icon {
    width: 37px;
    height: 37px;
  }
  .about__button {
    padding: 24px 48px;
  }
  .suites {
    margin-bottom: 160px;
  }
  .suites__wrap-title {
    gap: 60px;
  }
  .suites__title {
    font-size: 20px;
    font-weight: 700;
  }
  .suites__text {
    font-size: 38px;
    letter-spacing: -0.02em;
  }
  .suites__wrap {
    gap: 100px;
  }
  .suites__frame {
    padding: 0 177px;
    gap: 60px;
    justify-content: space-between;
  }
  .suites__card {
    flex-basis: calc(100% / 2 - 30px);
    max-width: 645px;
    padding: 140px;
    gap: 0;
  }

  .suites__tariff {
    display: none;
  }
  .suites__tariff-text-desctop.hidden {
    display: flex;
    margin-bottom: 23px;
  }

  .suites__header {
    max-width: 222px;
    margin-bottom: 24px;
    padding: 0;
    min-height: 62px;
    justify-content: flex-end;
  }

  .suites__tariff-btn-desctop.hidden {
    display: flex;
    padding: 24px 87px;
  }
  .suite__text-info {
    display: none;
  }
  .suite__text-info-desktop.hidden {
    display: flex;
    gap: 38px;
    margin-bottom: 112px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .suites__text-item {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.1;
  }

  .suites__tariff-text {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.05em;
    text-align: center;
  }
  .suites__tariff-header {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0em;
  }
  .contacts {
    margin-bottom: 160px;
  }
  .contacts__title-wrap {
    gap: 100px;
  }
  .contacts__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
  }
  .contacts__title-wrap {
    padding: 0 185px;
  }
  .contacts__title-text {
    font-size: 38px;
    letter-spacing: -0.02em;
  }
  .contacts__content-list {
    padding: 0 65px;
    gap: 206px;
  }
  .contacts__wrap {
    gap: 90px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--black1);
  }
  .contacts__wrap-email {
    max-width: 292px;
  }
  .contacts__content-text {
    font-size: 22px;
  }
  .subscribe {
    margin-bottom: 160px;
  }
  .subscribe__title {
    font-size: 20px;
    font-weight: 700;
  }
  .subscribe__inner {
    gap: 100px;
    padding: 0 247px;
  }
  .subscribe__content {
    font-size: 24px;
    line-height: 1;
  }
  .subscribe__social-wrap {
    gap: 20px;
  }

  .footer__container {
    padding: 100px;
  }
  .footer__content {
    gap: 60px;
    padding: 0 455px;
  }
  .footer__message {
    font-size: 20px;
    line-height: 1.1;
  }
  .footer__icon {
    width: 36px;
    height: 36px;
  }
  .footer__rights-list {
    font-size: 20px;
    line-height: 1.1;
    gap: 121px;
  }
  .registration-content,
  .login-content {
    gap: 100px;
  }
  .registration__form,
  .login__form {
    padding: 0 702px;
  }
  .registration__title,
  .login__title {
    font-size: 30px;
  }
  .registration__button,
  .login__button {
    margin-bottom: 20px;
  }

  .success-frame {
    margin: 0 702px;
    padding: 80px 55px;
  }
  .success-title {
    font-weight: 500;
    font-size: 30px;
  }
}
