.registration {
  display: flex;
  padding-top: 160px;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 160px;
  }
  &__frame {
    display: flex;
    //width: 1920px;
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  &__page-path {
    display: flex;
    width: 1691px;
    align-items: center;
    gap: 16px;
  }

  &__page-path-home {
    width: 51px;
    height: 19px;
    transform: rotate(-0.141deg);
    flex-shrink: 0;

    color: var(--greyGold);
    font-feature-settings: "salt" on;

    /* Heading/16px Text Example/Medium */
    font-family: var(--secondary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.32px;

    &:hover,
    &:focus {
      color: var(--black1);
    }
  }

  &__page-path-registration {
    width: 93px;
    height: 19px;
    transform: rotate(-0.141deg);
    flex-shrink: 0;

    color: var(--greyGold);
    font-feature-settings: "salt" on;

    /* Heading/16px Text Example/Medium */
    font-family: var(--secondary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.32px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  &__text {
    display: flex;
    width: 431px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  &__title {
    color: var(--Black2, #000);

    /* Body Text/30px Text Example/Medium */
    font-family: var(--main-font);
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__message {
    width: 325px;

    color: var(--black2);

    /* Body Text 16px Text Example/SemiBold */
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__login-link {
    color: #0c21c1;
    cursor: pointer;
    :hover,
    :focus {
      border-bottom: 1px solid #0c21c1;
    }
  }

  &__input-container {
    border: 3px solid yellow;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  &__form-label {
    color: var(--gray-cold-40, rgba(21, 21, 21, 0.4));

    /* Body Text 13px Text Example/Medium */
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__button {
    width: 431px;
    height: 62px;
    gap: 10px;
  }
}

.regisrtation__wrap {
  display: flex;
  width: 431px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.form-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.form__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  color: var(--greyGold);

  /* Body Text 13px Text Example/Medium */
  font-family: var(--main-font);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.form__text-wrap {
  display: flex;
  width: 431px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--black2);
}
// .form__text-wrap.success {
//   border-bottom: 1px solid var(--black2);
// }

.form__text-wrap.error {
  border-bottom: 1px solid var(--red);
}

.form__text {
  display: flex;
  align-items: center;
  gap: 12px;
}

// .form__invisible {
//   display: flex;
// }

.form__icon-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 184px;
}

// .warning-email .form__icon-wrap {
//   display: flex;
//   align-items: center;
//   gap: 184px;
// }

// .warning-username {
//   display: flex;
//   align-items: center;
//   gap: 213px;
// }

// .warning-password {
//   display: flex;
//   align-items: center;
//   gap: 221px;
// }

.form__input {
  color: var(--darkBlue);
  display: inline-block;
  width: 100%;

  /* Body Text 16px Text Example/Regular */
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form__input::placeholder {
  color: var(--darkBlue);
}

.form__icon {
  width: 17px;
  height: 17px;
  flex-shrink: 0;
  vertical-align: middle;
}
.form__icon-password {
  fill: #151515;
  fill-opacity: 0.4;
  flex-shrink: 0;
}

.registration__login-link:hover {
  text-decoration: underline;
}

.registration__login-link:focus {
  outline: none;
}

.registration__page-path-registration.activ {
  color: var(--black1);
}

.error-message {
  color: var(--red);

  /* Body Text 12px Text Example/Regular */
  font-family: var(--main-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.success-frame {
  display: flex;
  width: 1920px;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.success-wrap {
  display: flex;
  width: 1691px;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.success-text {
  display: flex;
  width: 271px;
  padding: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  border-radius: 20px;
  border: 1px solid var(--black1);
  background: var(--beige);
}

.success-title {
  width: 428px;

  color: var(--black2);
  text-align: center;

  /* Body Text/30px Text Example/Medium */
  font-family: var(--main-font);
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-variant: all-small-caps;
}

.success-message {
  width: 349px;
  margin: 0;

  color: var(--black2);
  text-align: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.icon-warning {
  width: 16px;
  height: 16px;
}

.hidden {
  display: none;
}
