.subscribe {
  &__title {
    width: 520px;

    color: var(--grayWarm);
    text-align: center;
    font-feature-settings: "salt" on;

    @include font-styles-title;
  }
  &__wrap {
    display: flex;
    width: 1346px;
    padding: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

    border-radius: 20px;
    border: 1px solid var(--black1);
  }
  &__frame {
    display: flex;
    width: 1251px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 47px;
  }

  &__info {
    color: var(--grayWarm);
    text-align: center;

    /* Body Text,16Px Text Example/Medium */
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__email {
    color: var(--black2);
    text-align: center;

    /* Body Text, 24Px Text Example/Medium */
    font-family: var(--main-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
    text-decoration-line: underline;
  }
  &__social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  &__message {
    color: var(--greyWarm);

    /* Body Text,16Px Text Example/Medium */
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  &__social-wrap {
    display: flex;
    align-items: flex-start;
    gap: 15px;
  }
}

.icon {
  fill: var(--black1);
  width: 36px;
  height: 36px;
}
.icon:hover {
  fill: #fbaa19;
}
