// Body Text, 22PX TEXT

@mixin font-styles-body {
  font-family: var(--main-font);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.44px;
  text-transform: uppercase;
}

//Heading2/20px Text Example/Bold
@mixin font-styles-title {
  font-family: var(--secondary-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

//Body Text, 38 Px Text Example
@mixin font-styles-text-38 {
  font-family: var(--main-font);
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.76px;

  text-align: center;
}

/* Heading/16px Text Example/Medium */
@mixin font-styles-heading-16 {
  font-family: var(--secondary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.32px;
}
