.main-button {
  @include font-styles-body;
  padding: 14px 26px;

  border-radius: 100px;
  border: 1px solid var(--black1);
  background: var(--black1);
  color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;

  &:hover {
    border-radius: 100px;
    border: 5px solid #777;
    background: #282828;
  }

  &:active {
    border: 5px solid #777;
    background: #0a091f;
  }

  &:focus {
    border: 5px solid #777;

    background: var(--black1);
  }
  &:disabled {
    border: 1px solid rgba(21, 21, 21, 0.3);
    background: rgba(21, 21, 21, 0.3);
  }
}

.second-button {
  @include font-styles-body;
  display: flex;
  padding: 14px 26px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;

  border-radius: 100px;
  border: 1px solid var(--white);

  color: var(--white);

  &:hover {
    border: 5px solid var(--white);
  }

  &:active {
    border: 5px solid #ffa400;
    background: #eee;

    color: var(--black1);
  }

  &:focus {
    border: 5px solid #ffa400;
    background: #fdfdfd;

    color: var(--black1);
  }

  &:disabled {
    border: 5px solid rgba(21, 21, 21, 0.3);

    color: rgba(21, 21, 21, 0.3);
  }
}
