.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 10px;
  position: relative;
  background-image: linear-gradient(
      0deg,
      rgba(36, 36, 36, 0.4) 0%,
      rgba(36, 36, 36, 0.4) 100%
    ),
    url("../images/main1.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 1064px;
  min-width: 1920px;

  margin: o auto;

  &__container {
    display: flex;
    max-width: 1163px;
    height: 669px;

    position: absolute;

    background-image: linear-gradient(
        0deg,
        rgba(36, 36, 36, 0.4) 0%,
        rgba(36, 36, 36, 0.4) 100%
      ),
      url("../images/main2.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    align-items: center;

    justify-content: center;

    gap: 10px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  &__title {
    color: var(--white);
    text-align: center;

    font-family: var(--secondary-font);
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  &__btn {
    display: flex;
    width: 1095px;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  &__btn-main {
    width: 287px;
    height: 72px;
  }

  &__btn-second {
    width: 287px;
    height: 72px;
  }
}
